		</div>

</div>
			
	<div id="sidebar1wrap">
	<h1><a href="/admin/">管理面板</a></h1>
	<div id="sidebar1">
		<h2 class="small">管理</h2>
		<ul>
			<li><a href="/admin/add_post">发表 文章</a></li>
			<li><a href="/admin/edit_post/">编辑/删除 文章</a></li>
			<li><a href="/admin/comment/">评论管理</a></li>
			<li><a href="/admin/flushdata">清空数据</a></li>
			<li><a href="/admin/logout">安全退出</a></li>
		</ul>
		
	</div>
</div>	</div>
<div id="footer"><small>POWERED BY <a href="http://saepy.sinaapp.com" target="_blank">saepy-log</a></small></div>
</div>
</body>
</html>
