<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="utf-8" />
<meta name="robots" content="all" />
<title>#{title}</title>
</head>
<body>
<div id="doc" style="text-align:center;margin-top:20px;">
<div id="hd">
  <a href="/">#{{SITE_TITLE}}</a>
</div>

<!--{start:bd -->
<div id="bd">
  <div id="cont">
  <h1>#{h2} #{page} </h1>
    <div id="post">
      <h4>#{msg}</h4>
    <h2><a href="/">Go to Home Page</a></h2>
    </div>
  </div>
  <div id="sider">
  </div>
  
<div class="c"></div>

</div>
<!--}end:bd -->
<!--{start:ft -->
<div id="ft">
Copyright&nbsp;©&nbsp;#{{COPY_YEAR}} #{{SITE_TITLE}}
</div>
</div>


<?py if page == '404': ?>
<form name="form1" action="#{{BASE_URL}}/?" method="get">
<input type="hidden" name="q" value="#{{SITE_SUB_TITLE}}" />
</form>
<script language="javascript"> document.form1.submit(); </script>
<?py #endif ?>

</body>
</html>